@import url('./src/navigation/navigation.styles.css');
@import url('./src/login/login.styles.css');
@import url('./src/registration/registration.styles.css');
@import url('./src/about/about.styles.css');
@import url('./src/dashboard/dashboard.styles.css');
@import url('./src/user-profile/user-profile.styles.css');
@import url('./src/preferences/preferences.styles.css');

@import url('./src/blog/blog.styles.css');
@import url('./src/blog/posts/create/create.styles.css');
@import url('./src/blog/posts/edit/edit.styles.css');
@import url('./src/blog/posts/view/view.styles.css');
@import url('./src/blog/search/search.styles.css');
@import url('./src/blog/comments/comments.styles.css');
@import url('./src/blog/tags/tags.styles.css');

@import url('../plugins/ngFlash/angular-flash.css');

:root {
    --primary-theme-color: #4A1087;
    --secondary-theme-color: #651FAF;
    --text-theme-color: #FFFFFF;
    --background-theme-color: #FFFFFF;
}

* {
  box-sizing: border-box;
}

html, body {
    width: 100;
    height: 100%;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--background-theme-color);
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--background-theme-color);
} 

.app-content {
  flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
    padding: 0.6rem;

    font-size: 0.8rem;
    text-align: center;
    vertical-align: middle;

    background-color: var(--primary-theme-color);
    color: var(--text-theme-color);    
}

.app-button {
    background-color: var(--primary-theme-color);
    color: var(--text-theme-color);
    border-color: var(--primary-theme-color);
    font-weight: bold;
}

.app-button:hover {
    background-color: #fff;
    color: var(--primary-theme-color);
    border-color: white;
}

.app-button:active {
    background-color: #fff !important;
    color: var(--secondary-theme-color) !important;
    border-color: var(--primary-theme-color) !important;
}

.app-button:disabled {
    background-color: var(--secondary-theme-color) !important;
    color: var(--text-theme-color) !important;
    border-color: var(--primary-theme-color) !important;
}

.no-highlight {
    -webkit-tap-highlight-color:transparent;
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}

.page-container {
    width: 100%; 
    padding: 2.5% 2.5% 2.5% 2.5%;
    display: table; 
    margin: 0 auto;
}

.pointer {
  cursor: pointer;
}



/** 
 * Bootbox bugfix #566 
 * @see: (https://github.com/makeusabrew/bootbox/issues/566#issuecomment-342298166) 
 */
.bootbox .modal-header h4 {
    order: 0;
}
.bootbox .modal-header button {
    order: 1;
}



/* AnuglarJS Animate */
/* Animations list: 
https://github.com/daneden/animate.css 
*/

/* Also look at the "animate" property: https://developer.mozilla.org/en-US/docs/Web/CSS/animation

  You may add animation delays by throwing in a second number (see below)
*/

/* this class is attached to ng-view div in index.html and is animated whenever pages change */
.main-content {
  opacity: 1; /* ensure full opacity by default */
}

.main-content.ng-enter {
  opacity: 0; /* while it's getting ready to animate, start with full transparency and allow the fadeIn animation to happen */
}

.ng-enter {
  animation: fadeIn 0.5s 0.5s; /* added a delay to allow previous animation to finish, as first the current element will leave and then the new one will enter */
}

.ng-leave {
  animation: fadeOut 0.5s;
}

.ng-move {
  animation: flipInX 1s;
}

/* Attach class 'dont-animate' to any element you do not wish to exhibit any animations
*/
.dont-animate.ng-enter {
  animation: none !important;
}

.dont-animate.ng-leave {
  animation: none !important;
}

.dont-animate.ng-move {
  animation: none !important;
}

.dont-animate .ng-enter {
  animation: none !important;
}

.dont-animate .ng-leave {
  animation: none !important;
}

.dont-animate .ng-move {
  animation: none !important;
}


